.app-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
    font-family: sans-serif;
    position: relative;
}
.sidebar{
    position: fixed;
}
.main {
    flex: 1;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
    color: #666;
    background-color: #F1F1F1;
    padding: 20px;
    position: relative;
    z-index: 1;
}
