.adminPortal {
    position: relative;
    font-weight: 300;
    line-height: 0%;
}
.arrow {
    width: 16px;
    position: relative;
    height: 16px;
    overflow: hidden;
    flex-shrink: 0;
}
.adminPortalParent {
    position: absolute;
    top: 40px;
    left: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}