.footer-container {
    background-color: #15397f;
    padding: 20px;
    text-align: center;
    color:#fff;
    text-align: left;

  }
  
  .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .footer-col {
    margin: 10px;
  }
  
  .footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-list li {
    margin-bottom: 10px;
  }
  
  .footer-list li a {
    text-decoration: none;
    color: #fff;
  }
  
  .footer-list li a:hover {
    color: #f0cc33;
  }