
  /* Thanh header bao gồm các nút và input */
  .headerButton {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    gap: 20px;
  }
  
  .filter,
  .search,
  .addButton{
    height: 20px;
    display: flex;
    align-items: center;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
  }
  .filter{
    width: 20px;
    height: 20px;
  }
  .search{
    width: 30%;
  }
  .searchInput{
    border: none;
    outline: none;
    font-size: 14px;
    width: 100%;
  }
  .addButton{
    background-color: #2264e5;
    border: none;
  }
  .addButton:hover{
    background-color: #004add;
  }
  .add {
    font-size: 12px;
    font-weight: 500;
    color: #fff;
  }
  
  .filterIcon,
  .arrowIcon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
  
  .tableGroup{
    width: 97%;
    overflow-x: auto;
    position: relative;
    top: 70px;
    left: 40px; 
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  }
  /* Table Styles */
  .tableWrapper{
    flex-direction: column;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .columnHeaderParent {
    background-color: #f4f7fc;
  }
  
  th,
  td {
    padding: 12px 10px;
    text-align: left;
  }

  tr:hover{
    background-color: #eeeeeeaa;
  }
  
  /* Dòng của ListItem */
  .row {
    border-bottom: 1px solid #ddd;
    font-size: 13px;
  }
  
  .number,
  .city,
  .address {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .statusWrapper {
    display: flex;
  }
  
  .openStatus {
    font-size: 12px;
    color: #14804A;
    padding: 1px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: var(--Green-0, #E1FCEF);
  }
  .closeStatus {
    font-size: 12px;
    color: #D12953;
    padding: 1px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: var(--Red-0, #FAF0F3);
  }
  
  .salonImg {
    width: 36px;
    height: 36px;
    object-fit: cover;
  }
  .editGroup{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: max-content;
    cursor: pointer;
    /* padding: 2px; */
  }
  .editGroup:hover{
    color: #2264e5;
    border: 1px solid #2264e5;
    border-radius: 5px;
  }
  .edit{
    padding: 2px;
  }